.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        border-radius: 2.5rem;
        transition: all 0.33s;
        position: relative;
    }
    
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.8rem 2rem rgba($color-coal,0.3);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.8rem 1.2rem rgba($color-coal,0.4);
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.35s;
    }

    &--white {
        background-color: $color-eggshell;
        color: $color-dark-grey;

        &::after {
            background-color: $color-eggshell;
        }
    }

    
    &--animated {
        animation: moveInBottom 0.75s ease-out 0.5s;
        animation-fill-mode: backwards;
    }
}