$primary-color:       #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark:  #28b485;
$color-dark-grey:     #41434d;
$color-eggshell:      #F5FFFF;
$color-dust:          #edfaf0;
$color-coal:          #000000;

$grid-width: 114rem;
$gutter: 4rem;